@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  font-family: Verdana, Tahoma, sans-serif;
}

.custom-img {
  background-image: url(https://images.unsplash.com/photo-1595044537698-6edf5d4f133e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80);
}

.custom-img2 {
  background-image: url(https://images.unsplash.com/photo-1617096819670-6de2869bbd2e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=627&q=80);
}

.custom-img3 {
  background-image: url(https://images.unsplash.com/photo-1635960389172-1f7ca11cd3bb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1073&q=80);
}
